header {
	z-index: 99;
	background: white;
	// max-height:15%;
	// overflow: hidden;

	h3 {
		line-height: 1.2;
	}

	h1 a {
		color: #fff;

		&:hover {
			color: darken(#fff, 10%);
		}
	}

	ul.inline-list {
		line-height: 80px;
		vertical-align: middle;
		text-align: right;
		margin-bottom: 0;
		li {
			line-height: inherit;
			float: none;
			display: inline-block;
			vertical-align: middle;
			a {
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}